{
  "openapi": "3.0.0",
  "info": {
    "description": "This is an auto generated swagger definition file for Github Attach Pull Request Scenario",
    "version": "0.0.3",
    "title": "Github Attach Pull Request",
    "termsOfService": "https://bearer.sh/terms",
    "contact": {
      "email": "alice@vendor.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://int.bearer.sh/api/v2"
    }
  ],
  "tags": [
    {
      "name": "integration",
      "description": "List of endpoints providing backend to backend integration with github attach pull request scenario",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://www.bearer.sh"
      }
    }
  ],
  "paths": {
    "/items": {
      "options": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "UNAUTHORIZED"
          }
        },
        "summary": "Items",
        "description": "",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Item"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "origin",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "",
            "required": true
          },
          {
            "name": "accept-language",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "user-agent",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "content-type",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "referer",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "authority",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "cookie",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "CREATED"
          }
        },
        "summary": "Create item",
        "description": ""
      }
    },
    "/10bc62-my-new-scenario/listRepositories": {
      "post": {
        "responses": {
          "200": {
            "description": "Intent response"
          }
        },
        "parameters": [
          {
            "name": "origin",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept-encoding",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept-language",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "user-agent",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "content-type",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "referer",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "authority",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "cookie",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "page",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          },
          {
            "name": "setupId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          },
          {
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          }
        ],
        "summary": "listRepositories"
      }
    },
    "/10bc62-my-new-scenario/listPullRequests": {
      "post": {
        "responses": {
          "200": {
            "description": "Intent response"
          }
        },
        "summary": "listRepositories",
        "description": "",
        "parameters": [
          {
            "name": "origin",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept-encoding",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept-language",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "user-agent",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "content-type",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "referer",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "authority",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "cookie",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "page",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          },
          {
            "name": "fullName",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          },
          {
            "name": "setupId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          },
          {
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          }
        ]
      }
    },
    "/10bc62-my-new-scenario/savePullRequest": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pullRequest": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "integer"
                      }
                    }
                  },
                  "repository": {
                    "type": "object",
                    "properties": {
                      "full_name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Intent response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "referenceId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "savePullRequest",
        "description": "",
        "parameters": [
          {
            "name": "origin",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept-encoding",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept-language",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "user-agent",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "content-type",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "accept",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "referer",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "authority",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "cookie",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "",
            "required": true
          },
          {
            "name": "setupId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          },
          {
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "",
            "required": true
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Item": {
        "type": "object",
        "required": [
          "ReadAllowed"
        ],
        "properties": {
          "clientID": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          },
          "ReadAllowed": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
